<!DOCTYPE html>
<title>Jay Flaskr</title>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
<div class=page>
   <h1 class=bc_grad>Jay's First Flaskr</h1>
   <iframe class="music" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="http://music.163.com/outchain/player?type=3&id=9527038&auto=1&height=66"></iframe>
   <div class=metanav>
      {% if not session.logged_in %}
         <a href="{{url_for('login')}}">LOG IN</a>
      {% else %}
         <a  href="{{url_for('logout')}}">LOG OUT</a>
         <a  href="{{url_for('upload_view')}}">Upload File</a>
      {% endif %}
   </div>
   {% for message in get_flashed_messages() %}
      <div class=flash>{{message}}</div>
   {% endfor %}
   {% block body %}{% endblock %}
</div>
