{% extends "layout.html" %}
{% block body %}
<div id=container>
{% if session.logged_in %}
<!--<a class="re_direct" href="{{url_for('upload_view')}}">Upload Files</a>-->
<div id=add>
<form action="{{url_for('add_entry')}}" method=post class=add-entry>
   <dl>
      <dt>Title</dt>
      <dd><input type=text size=30 name=title></dd>
      <dt>Bom</dt>
      <dd><input type=text size=30 name=bom></dd>
      <dt>Description</dt>
      <dd><textarea name=description rows=5 cols=70></textarea></dd>
      <dt>Explanation</dt>
      <dd><textarea name=explanation rows=5 cols=70></textarea></dd>
      <dt>Solution</dt>
      <dd><textarea name=solution rows=5 cols=70></textarea></dd>
      <dt>Status</dt>
      <dd><input type=text size=30 name=status></dd>
      <br/>
      <dd><input type=submit value='Add Recored'></dd>
   </dl>
</form>
</div>
{% endif %}
<div id=items>
<ul class=entries>
   <h3>All Entries:</h3>
  {% for entry in entries %}
  <!--<li><h2>{{ entry.title }}</h2>{{ entry.bom|safe }} {{entry.desc}} {{entry.expl}} {{entry.solu}}  {{entry.status}}-->
  <li><a href="/items/{{entry.item_id}}" >{{entry.title}}</a></li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  </div>
  </div>
  {% endblock %}
